*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: #312622;
  color: #D9D9D9;
  transition: all .5s ease-in-out;
}

html{
  font-size: 16px;
  box-sizing: inherit;
  scroll-behavior: smooth;
}


li{
  list-style: none;
}
a{
  text-decoration: none;
}

h2{
  color: #B89B74;
}

main{
  position: relative;
}

input, textarea{
  color: #D9D9D9;
}

/*** Navegacion ***/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .7rem 3rem;
  z-index: 1;
  background-color: #2c3e507e;
}

.nombre-despacho{
  color: orange;
  cursor: pointer;
}

.nombre-despacho:hover{
  color: #ecc38c;

}

.nav-links{
  display: flex;
  gap: 4rem;
}

nav li a:visited {
  color: #D9D9D9;
}

nav li a:hover{
  color: #B89B74;
}

/*** Inicio ***/
.inicio h1, .inicio p, .inicio a{
  z-index: 2;
  }

.inicio{
  position: relative;
  height: 100vh;
  /* margin-top: -3.2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.background{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(assets/Gemini_Generated_Image_5buwax5buwax5buw.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(30%);
}

.contacto-inicio{
  background-color: #b89b74;
  padding: .3rem 1rem;
  border-radius: 5px;
  color: #261f1c;
  font-weight: 900;
}

.contacto-inicio:hover{
  background-color: #816d51;
}

/*** Nosotros ***/

.nosotros{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C3E50;
  gap: 2rem;
}

.nosotros-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  
}

.nosotros-img{
  width: 85%;
  margin: auto;
}

.nosotros-text-derecha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.nosotros-text-derecha h3{
  margin-bottom: 2rem;
}

.areas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

.nosotros-text-derecha p{
  margin: 0 0 .5rem 0;
}

.area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 10px;
  background-color: #261F1C;
}

.areas-icono{
  width: 3rem;
}

.areas p{
  margin-top: 0;
  width: 5rem;
  text-align: center;
}

/*** casos de exito ***/

.casos-exito{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 4rem;
}

.exito-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.caso{
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #4C3F3A;
}

.resolucion{
  color: #B89B74;
}

/*** contacto ***/

.contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C3E50;
  padding-top: 3rem;
}

.contacto h2{
  margin-bottom: 3rem;
}

.formulario{
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #261F1C;
}

input, textarea{
  margin: .3rem 0 .5rem 0;
  border-radius: 5px;
  border: none;
  background-color: grey;
  padding: .3rem;
  background-color: #4C3F3A;
}

.enviar-btn{
  padding: .4rem;
  background-color: #B89B74;
  color: #261f1c;
  font-weight: 900;
  cursor: pointer;
}

.enviar-btn:hover{
  background-color: #816d51;
}

.social{
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
}

.social-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

.social-logo{
  width: 2.5rem;
}
textarea{
  resize: none;
  field-sizing: content;
  min-height: 3rem;
}

/*** footer ***/

footer{
  text-align: center;
  padding: .5rem 0;
}

footer p{
  margin: 0;
}

.creador{
  font-size: .9rem;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
  

  .menu-button{
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    position: absolute;
    right: .5rem;
    top: -2px;
    transition: all .3s ease-in-out;
  }
  
  .abrir{
    background-image: url(assets/iconmonstr-menu-lined.svg);
  }

  .cerrar{
    background-image: url(assets/iconmonstr-x-mark-lined.svg);
  }

  header{
    padding: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 2;
  }
  
  .nav-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: .3rem;
    transition: all .3s ease;
  }

  .ocultar{
    display: none;
  }

  .mostrar{
    display: flex;
  }


  /*** inicio ***/

  .inicio{
    text-align: center;
    justify-content: start;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    gap: .3rem;
    padding: 0 1rem;
  }

  .inicio h1{
    margin-top: 30vh;
    font-size: 1.3rem;
  }

  .inicio p{
    font-size: .8rem;
    padding: 1rem;
  }

  /*** nosotros ***/

  .nosotros-img{
    width: 40%;
  }

  .nosotros{
    text-align: justify;
    flex-direction: column;
    min-height: 100vh;
  }

  .nosotros-text{
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nosotros-text-derecha h3{
    text-align: center;
  }
  .areas{
    gap: .3rem;
  }

  /*** casos de exito ***/

  .casos-exito{
    height: fit-content;
    padding: 4.5rem 0;
    width: 90%;
  }
  
  
  .exito-content{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .area{
    height: 8rem;
  }

  /*** contacto ***/

  .formulario{
    width: 90%;
  }

  .contaco h2{
    margin-bottom: 1rem;
  }

  /*** social ***/


  .social{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }

  .social-item{
    justify-content: baseline;
  }

  .social-logo{
    width: 2rem;
  }

  /*** footer ***/
  footer{
    padding: .7rem 0;
  }
  .derechos{
    font-size: .8rem;
  }
  .creador{
    font-size: .6rem;
  }
  

}


@media screen and (min-width: 768px) and (max-width: 1024px){

  /*** nosotros ***/

  .nosotros-img{
    width: 40%;
  }

  .inicio h1{
    text-align: center;
  }


  .nosotros{
    text-align: justify;
    flex-direction: column;
    height: fit-content;
    padding: 3rem 0;
  }

  .nosotros-text{
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nosotros-text-derecha h3{
    text-align: center;
  }
  

  /*** casos de exito ***/

  .casos-exito{
    height: fit-content;
    padding: 4.5rem 0;
    width: 90%;
  }
  
  
  .exito-content{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .area{

    height: 8rem;
  }

}